*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-image: url(../Assets/pattern-background-desktop\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e0e8ff;
    width: 100vw;
    height: 100vh;
    
}
.main{
    margin-left: 25rem;
    padding: 3rem;
    width: 20rem;
    
    
    

}
.img1{
    position: absolute;
    width: 20rem;
    height: 10rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    

    
}
.text{
    position: relative;
    background-color: white;
    width: 20rem;
    height: 20rem;
    padding: 1.5rem;
    text-align: center;
    top: 10rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
.text h2{
    font-size: 21px;
    font-weight: 800;
}
.text p{
    font-size: 13px;
    padding: 1rem;
    font-weight: 300;
}
.music-details{
    padding: 1rem;
    display: flex;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 4rem;
    gap: 2rem;
    
}
.btn-change{
    text-decoration: underline;
    border: none;
    font-size: 12px;
    background-color: whitesmoke;
    font-weight: 500;
    text-decoration: underline;
    color: blue;
}
.music-log{
    height: 2.5rem;
    width: 3rem;
}

.music-details span{
    font-weight: 300;
}
.music-details p{
    font-weight: 500;
    text-decoration: underline;
    color: blue;
}
.btn{
    margin-top: 1rem;
    text-align: center;
}
.btn{
    font-size: 12px;
    font-weight: 600;
    width: 17rem;
    height: 2rem;
    border-radius: 7px;
    color: white;
    background-color: blue;
    border: none;
    box-shadow: 1px 12px 10px rgb(172, 172, 214);
    
    
   
}

.btn-cancel{
    border: none;
    background-color: white;
    margin-top: 1.5rem;
    font-size: 13px;
    color: grey;
}
.btn-cancel:hover{
    border: none;
    background-color: white;
    margin-top: 1.5rem;
    font-size: 18px;
    color: blue;


}
@media(max-width: 430px){
    .body{
        background-image: url(../Assets/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #e0e8ff;
        width: 100vw;
        height: 100vh;
        
    }
    .main{
        margin: -1.3rem;
        padding: 3rem;
        width: 20rem;


    }
    .img1{
        position: relative;
        width: 20rem;
        height: 13rem;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        
    
        
    }
    .text{
        position: absolute;
        background-color: white;
        margin-top: 6rem;
        width: 20rem;
        height: 23rem;
        padding: 1.5rem;
        text-align: center;
        top: 8rem;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    
    }
    .text h2{
        font-size: 21px;
        font-weight: 800;
    }
    .text p{
        font-size: 13px;
        padding: 1rem;
        font-weight: 300;
    }
    .music-details{
        padding: 1rem;
        display: flex;
        background-color: whitesmoke;
        border-radius: 5px;
        height: 4rem;
        gap: 2rem;
    
    }
    .btn-change{
        text-decoration: underline;
        border: none;
        font-size: 12px;
        background-color: whitesmoke;
        font-weight: 500;
        text-decoration: underline;
        color: blue;
    }
    .music-details span{
        font-weight: 300;
    }
    .music-details p{
        font-weight: 500;
        text-decoration: underline;
        color: blue;
    }
    .music-log{
        height: 2.5rem;
        width: 3rem;
    }
    .btn{
        margin-top: 2rem;
        text-align: center;
    }
    .btn {
        font-size: 14px;
        font-weight: 600;
        width: 17rem;
        height: 3rem;
        border-radius: 7px;
        color: white;
        background-color: blue;
        border: none;
        box-shadow: 1px 12px 10px rgb(172, 172, 214);
        
        
       
    }
    
    .btn-cancel{
        border: none;
        background-color: white;
        margin-top: 1.5rem;
        font-size: 13px;
        color: grey;
    }
    .btn-cancel:hover{
        border: none;
        background-color: white;
        margin-top: 1.5rem;
        font-size: 18px;
        color: blue;
    
    
    }


}





